.dom-body {
	background-color: #E9ECEF;
}

.hrule {
	border: 2px solid darkred;
	height: 3px;
	background-color: darkred;
}

.hrule-light {
	height: 2px;
	background-color: darkred;
	width: 80%;
	display:block;
	margin: 0px auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.ordericons:hover {
	opacity: 0.5;

}

.footer-copyright {
	text-align: center;
	background-color: #4c1a09;
}

ul {
	list-style-type: none;
}

li a {
	color: #efefef;
	position: relative;
	left: -40px;
}

li >a:hover{
	opacity: 0.5;
	color: #efefef;
	text-decoration: none;
}

.social-section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.social-section >ul {
	padding-left: 50px;
}

.jumbotron {
	padding: 10px;
}

.carousel {
	position: relative;
	top: -16px;
	left: 0px;
}

.carousel-caption {
	color: #efefef;
	background-color: #3d3e3f;	
}

.card-hover {
	text-decoration: none;
	color: #000000;
}
.card-hover:hover {
	border: 1px solid darkred;
	text-decoration: none;
}
